/* Basic CSS Reset */

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#main {
    margin: 0 auto;
    width: 80vw;
}
#header {
    font-size: 4rem;
    text-align: center;
}

#header > h1 {
    font-size: 1em;
}

#header > h2 {
    font-size: .5em;
}
.pad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin : 0 auto;
    padding: 1em;
    height: 25vh;
    width: 25vw;
    background: gray;
    border: 2px solid black;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    width: 5em;
    height: 5em;
    border-radius: .5em;
}

.button:hover {
    background: red;
}

.button:active {
    background: green;
}